
.mnc-prod-list {
  h4 {
    font-size:24px;
    letter-spacing: -0.2px;
    line-height:1.2em;
    margin-bottom:0;
  }
  img {
    margin-bottom:20px;
    border:1px solid #eeeeee;
  }
  .mnc-pl-autor {
    font-size:14px;
    // margin-bottom:20px;
  }
  .mnc-pl-preis {
    font-family:"Neue Droschke", Verdana, Arial, sans-serif;
    font-size: 30px;
    // margin-bottom:20px;
  }
  .mnc-pl-info {
    font-size:14px;
    line-height:1.5em;
  }
}