/*
* Beschreibung größer (1:4)
 */
.woocommerce-page.ast-woocommerce-shop-page-list-style ul.products li.product .astra-shop-summary-wrap,
.woocommerce.ast-woocommerce-shop-page-list-style ul.products li.product .astra-shop-summary-wrap {
  padding-top:0;
  flex: 5;
  @include bp(mobile) {
    flex:3;
  }
  align-self: flex-start;
  .ast-woo-product-category {
    font-size:smaller;
    line-height:1em;
    display:inline-block;
    border:1px solid rgba(58,58,58,0.6);
    border-radius: 5px;
    padding:2px 4px;
  }
}

/**
Autorenzeile in Shop-Archiv:
 */
.mnc-author {
  font-size:smaller;
  margin-bottom:10px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce-page ul.products li.product .woocommerce-loop-product__title,
.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  margin-bottom:0;
  letter-spacing:normal;
}

/**
Shop Archiv: Links alle in Rot
 */
a > h2, a > h3, a > h4, a > h5 {
  color:$color_red;
  &:hover {
    color:$color_red_dark;
  }
}

