
#order_review_heading {
  float:none;
  width:auto;
}

/**
Cookie Notice Button:
 */
.cn-button.bootstrap {
  color: #fff;
  background: $color_red;
  &:hover {
    background-color: $color_red_dark;
  }
}

/**
Kasse: Fehlerkorrektur Überschrift (im Original Rechtsbündig!)
 */
.woocommerce-page.woocommerce-checkout form #order_review_heading {
  width: 100%;
  float: none;
  border:none !important;
  padding: 1.5em 0;
}

.site-header .ast-site-header-cart-data .button.wc-forward:hover {
  background-color: $color_red_dark !important;
}

.jde_hint {
  text-align: left;
  a {
    color:$color_red !important;
    &:hover {
      color:$color_red_dark !important;
    }
  }
}